header {
    grid-area: header;
}
.main {
    grid-area: main;
    background-color: red;
}
.sidebar {
    grid-area: sidebar;
    background-color: blue;
}
footer {
    grid-area: footer;
    background-color: orange;
}

.cont {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
        "header header"
        "main sidebar"
        "footer footer";
    grid-gap: 10px;
}